<div [formGroup]="parent" class="w-full relative">
  <label
    [for]="name"
    id="input-label"
    class="block text-sm font-medium"
    [ngClass]="{
      'text-xs': compact,
      capitalize: titlecaseLabel
    }"
  >
    {{ label }}
  </label>
  <div class="relative mt-1">
    <span
      #Prefix
      class="absolute z-10 bottom-[1.5ex] lg:bottom-[0.70rem] left-3 pointer-events-none opacity-75"
      [ngClass]="{
        'text-xs !bottom-[2ex]': compact
      }"
      >{{ prefix }}</span
    >
    <input
      #inputRef
      [id]="name"
      [name]="name"
      [type]="type"
      [formControlName]="name"
      [placeholder]="placeholder"
      [mask]="mask"
      [maxlength]="maxLength"
      [suffix]="suffix"
      [thousandSeparator]="thousandSeparator"
      [patterns]="patterns"
      [class]="cssClass"
      [class.input-error]="showValidationErrors"
      [ngClass]="{
        'pointer-events-none border-dashed !bg-base-100/20': readOnly,
        '!w-full rounded-lg text-xs bg-[#202020] !h-10  px-2': compact,
        'w-full': !compact,
      }"
      [ngStyle]="{
        'padding-left': prefix?.length
          ? Prefix.clientWidth + 15 + 'px'
          : '0.5rem'
      }"
    />

    <div class="action" *ngIf="!showToggleEye && inputRef.value">
      <!-- CLEAR -->
      <button
        *ngIf="showClearInput"
        tabindex="-1"
        data-theme="notifytheme"
        (click)="clearInputValue()"
        [ngClass]="{
          'text-red-500 border-red-500': showValidationErrors,
          
        }"
        type="button"
        class="btn btn-outline btn-circle btn-xs hover:btn-primary backdrop-blur-sm backdrop-brightness-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div class="action flex flex-col justify-center" *ngIf="showSpinButtons">
      <button class="hover:brightness-125" (click)="incrementValue()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <button class="hover:brightness-125" (click)="decrementValue()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            fill-rule="evenodd"
            d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div class="action" *ngIf="showToggleEye">
      <!-- PASSWORD TOGGLE -->
      <button
        tabindex="-1"
        (click)="togglePasswordVisibility()"
        class="hover:brightness-75 smooth disabled:brightness-50"
        [disabled]="!inputRef.value"
        type="button"
      >
        <svg
          *ngIf="inputRef.type === 'password'"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-gray-300"
          [class.text-red-500]="showValidationErrors"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>

        <svg
          *ngIf="inputRef.type === 'text'"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-gray-300"
          [class.text-red-500]="showValidationErrors"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
          />
        </svg>
      </button>
    </div>

    <div
      *ngIf="showValidationErrors && !showToggleEye && !showClearInput"
      class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 mb-1"
    >
      <svg
        class="h-5 w-5 text-red-500"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  <p
    class="text-sm text-red-600 absolute ml-1 right-0 top-0"
    [id]="name + '-error'"
    *ngIf="showValidationErrors"
  >
    {{ validationErrorMessage }}
  </p>

  <p
    class="mt-1 text-sm text-gray-500"
    id="help-text"
    *ngIf="helpText"
    [ngClass]="{
      'text-xs': compact
    }"
  >
    {{ helpText }}
  </p>
</div>
